body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
}

.heading {
    background-color: #337ab7;
    color: white;
}

.flex {
    display: flex;
}

.searchResults {
    margin-top: 2em;
}
